---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { HOME } from "@consts";
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container size="md">
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <p>Engineer @ HashiCorp.</p>
          </span>
        </article>
      </section>
    </div>
  </Container>
</PageLayout>
