---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { HOME } from "@consts";
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <p>Engineer @ HashiCorp.</p>
          </span>
        </article>
      </section>
    </div>
  </Container>
</Layout>
